<div class="container mt-5">
  <div class="card-product">
    <%= image_tag "https://source.unsplash.com/200x200/?#{@pet.species}" %>
    <div class="card-product-infos">
      <h2><%= @pet.name %></h2>
      <p><%= @pet.address %> - Found <%= pluralize(@pet.found_days_ago, 'day') %> ago</p>
    </div>
  </div>
  <p><%= link_to 'All pets', pets_path  %></p>
</div>
